<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>善知兼职之家</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<servlet-name>VerifyCodeServlet</servlet-name>
		<servlet-class>com.wenqian.tools.vcode.servlet.VerifyCodeServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>VerifyCodeServlet</servlet-name>
		<url-pattern>/VerifyCodeServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>UploadServlet</servlet-name>
		<servlet-class>com.huatai.servlet.UploadServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UploadServlet</servlet-name>
		<url-pattern>/servlet/UploadServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>DownLoadServlet</servlet-name>
		<servlet-class>com.huatai.servlet.DownLoadServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DownLoadServlet</servlet-name>
		<url-pattern>/servlet/DownLoadServlet</url-pattern>
	</servlet-mapping>

    <error-page>
       <error-code>404</error-code>
       <location>/inc/error404.jsp</location>
    </error-page>
    <error-page>
       <error-code>500</error-code>
       <location>/inc/error500.jsp</location>
    </error-page>
</web-app>